*{
    padding: 0;
    margin: 0;
}

.header{
    color: #f9faf8;
    background-color: #1f2937;
}

.Headertop{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 10px;
}

.header_logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.Headerbody{
    display:flex;
    justify-content: space-around;
    padding: 100px;
}

.title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    max-width: 444px;
}

.titlesub{
    font-size: 18px;
    max-width: 444px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: white;
    margin: 4px 4px;
    border: none;
    font-size: 20px;
    padding: 0 4px;
    border-radius: 10px;
}

img {
    max-width: 300px;
    max-height: 200px;
}

a {
    text-decoration: none;
    color: white;
  }

ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.containTitle{
    color: black;
    font-size: 36px;
    font-weight: bolder;
}

.boxes{
    display: flex;
    font-size: 18px;
    color: black;
}
.square {
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
  }

.container3{
    background: #E5E7EB;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#1f2937;
    color: white;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
}