*{
    padding: 0;
    margin: 0;
}

.header{
    color: #f9faf8;
    background-color: #1f2937;
}

.Headertop{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    margin-left: 100px;
    margin-right: 100px;
}

.header_logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.Headerbody{
    display:flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.titlesub{
    font-size: 18px;
    color: #E5E7EB;
}


img {
    max-width: 300px;
    max-height: 200px;
}

.placeholder{
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: white;
  }

ul{
    display: flex;
    list-style: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#1f2937;
    color: white;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
}