*{
    padding: 0;
    margin: 0;
}

.header{
    color: #f9faf8;
    background-color: #1f2937;
}

.Headertop{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 10px;
}

.header_logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.Headerbody{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
    
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    max-width: 300px;
}

.titlesub{
    font-size: 18px;
    max-width: 300px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    height: 25px;
}

img {
    max-height: 200px;
    margin-left: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: white;
  }

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.containTitle{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.boxes{
    display: flex;
    font-size: 18px;
    color: #1f2937;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 100px;
}

.square {
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
  }

span{
    color: #E5E7EB;
}

.container3{
    background: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding: 10px;
    white-space: initial;

}

.quote{
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    padding: 10px;
}

.container4{
    background-color: #3882F6;
    color: #f9faf8;
}

.Leftcontainer4{
    display: flex;
    background-color: red;
}

.Rightcontainer4{
    display: flex;
    background-color: red;
    justify-content: flex-end;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#1f2937;
    color: white;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
}